@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald:400,700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 120%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background: #eee;
  font-family: Lato, sans-serif;
}
body #lhs {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  flex-basis: auto;
  min-height: 100vh;
  transition: 400ms;
  border-right: 2px solid #222;
}
body #lhs #ulhs {
  display: flex;
  flex-direction: column;
  height: 50vh;
  flex-grow: 0;
  background: #e04010;
}
body #lhs .lhs-spacer {
  flex-grow: 1;
}
body #lhs #llhs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
body #rhs {
  width: 0;
  flex-grow: 0;
  flex-basis: 0;
  transition: 400ms;
}
body #qhs {
  width: 0;
  flex-grow: 0;
  flex-basis: 0;
  transition: 400ms;
  border-left: 2px solid #222;
}
body h1 {
  margin: 0;
  padding: 0 1rem;
  background: #e04010;
  font-size: 3rem;
  text-shadow: -3px -3px 2px black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

p {
  margin: 1rem;
}

form {
  margin: 1rem;
}
form input {
  flex-grow: 1;
  width: 100%;
  font-size: 1.6rem;
}
form input[type=checkbox] {
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
  margin: 0 0 0 2rem;
  width: 1rem;
}
form input .checkbox:hover {
  background: #aef;
}
form input .checkbox:checked {
  background: turquoise;
}
form input .checkbox:after {
  content: "";
  position: absolute;
  display: block;
}
form .checkbox-single-label {
  display: block;
  margin: 0.6rem 3rem 1.2rem 0;
  flex-grow: 0;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: 250ms;
}
form .checkbox-single-label p {
  margin: 0;
  display: inline-block;
}
form .checkbox-single-label .check-span {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background: #222;
}
form .checkbox-single-label .check-span:after {
  content: "";
  position: absolute;
  display: none;
  left: 14px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: 250ms;
}
form .checkbox-single-label:hover .check-span {
  background: #303090;
}
form .checkbox-single-label input:checked ~ .check-span {
  background: turquoise;
}
form .checkbox-single-label input:checked ~ .check-span:after {
  display: block;
}
form label {
  flex-grow: 1;
}
form button {
  background: #e04010;
  border: 2px solid #222;
  transition: 250ms;
  height: 3rem;
  font-size: 1.6rem;
}
form button:hover {
  color: #eee;
  background: turquoise;
}
form .checkbox-row {
  display: flex;
  justify-content: flex-start;
  margin: 1rem auto;
}
form .button-row {
  display: flex;
}
form .button-row button {
  flex-grow: 1;
}

section {
  margin: 0;
  padding: 0;
}
section#artists {
  background: #903030;
}
section#masters {
  background: #309030;
}
section#releases {
  background: #303090;
}
section h2 {
  margin: 0;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  color: #eee;
}
section ul {
  margin: 0 1rem;
  padding: 0;
  list-style-type: none;
}
section ul li {
  margin: 0.6rem;
  padding: 0.4rem;
  background: transparent;
  display: inline-block;
  transition: 500ms;
}
section ul li:hover {
  background: #e04010;
}
section ul li:hover img {
  display: block;
  position: absolute;
  visibility: visible;
}
section ul li:hover .artist-span {
  background: #222;
  color: #eee;
  border-color: #222;
}
section ul li:hover .release-span {
  background: #eee;
  color: #222;
  border-color: #eee;
}
section ul li span {
  text-decoration: none;
  color: #222;
}
section ul li span span {
  font-size: 1rem;
  padding: 0 0.4rem;
}
section ul li span span.artist-only-span {
  background: #eee;
  border: 4px solid #eee;
  border-radius: 8px;
  font-size: 2rem;
}
section ul li span span.artist-span {
  background: #eee;
  color: #222;
  border: 4px solid #eee;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
section ul li span span.release-span {
  font-style: italic;
  background: #222;
  color: #eee;
  border: 4px solid #222;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
section ul li img {
  display: none;
  visibility: hidden;
  position: relative;
  transition: 250ms;
  border: 1rem solid #e04010;
}
section ul .disc-url {
  display: none;
}

#qhs h2 {
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
}
#qhs img#q-cover-image {
  display: block;
  margin: 1rem auto;
}
#qhs p {
  display: block;
  margin: 1rem auto;
  padding: 0 2rem;
  text-align: right;
  font-size: 2rem;
}
#qhs ol {
  margin: 1rem 2rem;
  padding: 0;
  list-style-type: none;
}
#qhs ol li {
  display: flex;
  font-size: 1.6rem;
  border: 2px solid #222;
}
#qhs ol li span {
  display: inline-block;
  padding: 0 1.6rem;
}
#qhs ol li span.track-pos {
  background: #222;
  color: #eee;
}
#qhs ol li span.track-title {
  flex-grow: 1;
  background: #eee;
  color: #222;
}
#qhs ol li span.track-dur {
  background: #222;
  color: #eee;
}

footer {
  position: auto;
  flex-grow: 0;
  bottom: 0;
  margin: 0.5rem;
  padding: 0;
  background: #eee;
  font-size: 80%;
}

.c-red {
  color: #903030;
}

.c-green {
  color: #309030;
}

.c-blue {
  color: #303090;
}

/*# sourceMappingURL=index.css.map */
